.form {
  width: 640px;
  height: 488px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 32px;
  border: 1px solid var(--favorite-background);
  border-radius: 10px;
}

.form h3 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.form p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: var(--second-text-color);
  margin-bottom: 24px;
}

.form button {
  align-self: center;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px !important;
  margin-bottom: 24px;
}

.inputs .input {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: var(--input-background);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
}

.calendar {
  z-index: 10;
  width: 576px;
  height: 48px;
  padding: 12px 20px;
  margin: 0;
  border-radius: 12px;
  border: none;
  background-color: var(--input-background);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0;
}

.date_picker {
  z-index: 10;
  font-family: 'Manrope', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
  background-color: var(--white);
  border-radius: 14px;
  border: 1px solid var(--button-background) !important;
  overflow: hidden;
}

.date_picker h2 {
  font-family: var(--calendar-font) !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 12px;
}

svg {
  z-index: 10;
  stroke: #3470ff !important;
}

.day {
  width: 36px;
  height: 32px;
  border-radius: 32px !important;
  text-align: center;
}
.day:hover,
.day:focus {
  width: 36px;
  height: 32px;
  border-radius: 32px !important;
  color: var(--white) !important;
  background-color: var(--button-background-active) !important;
  transition: background-color 0.3s ease-in-out;
}

.today {
  width: 36px;
  height: 32px;
  color: var(--white);
  background-color: var(--button-background-active);
  border-radius: 32px !important;
  text-align: center;
}

.text {
  width: 100%;
  height: 88px;
  padding: 12px 20px 56px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  resize: none;
  background-color: var(--input-background);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
}

.error {
  border: 1px solid #ef5050;
}

.error_name {
  position: absolute;
  top: 12px;
  right: 220px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: #ef5050;
}

.error_mail {
  position: absolute;
  top: 80px;
  right: 220px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: #ef5050;
}
