.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.item {
  position: relative;
  width: 276px;
  height: 424px;
  display: flex;
  flex-direction: column;
}

.without {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0%;
  color: var(--main-text-color);
}
