.main {
  height: 700px;
  display: flex;
  justify-content: center;
  padding-top: 436px;
  padding-bottom: 60px;
  background-color: var(--main-text-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/img/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 783px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: var(--white);
  margin-bottom: 16px;
}

h2 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0%;
  color: var(--white);
  margin-bottom: 40px;
}

.catalogBtn {
  width: 300px;
}
